*{
    background-color: aqua;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background-clip: text;
    text-align: center;
    background: linear-gradient(to left, #12afed, #1d00acaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}